.wrapper-header{
    height: 150px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-header{
        color: #FE7BA7;
        font-size: 70px;
        margin: 0;
        padding: 0;
        font-family: 'Podkova', serif;
        margin-left: 20px;
        user-select: none;
    }
    .image-header{
        height: 100%;
    }
}

