.wrapper-for-background{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background: #C4C4C4;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1;
    .wrapper-pop-up{
        background: #F5F5F5;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        width: 40%; 
        height: 40%;
        border-radius: 10px;
        justify-content: flex-start;
        position: relative;
        .wrapper-header-create-new-name{
            border-radius: 10px 10px 0 0;
            display: flex;
            justify-content: space-between;
            background: #FE7BA7;
            padding: 0 10px  0 20px;
            color: #FFFFFF;
            .close-img{
                height: 50%;
                padding: 10px 0 ;
                &:hover{
                    filter: brightness(0.1);
                    cursor: pointer;
                }
            }
        }
        .wrapper-for-name{
            padding: 0 20px;
            display: flex;
            flex-direction: column; 
            input{
                width: 90%;
                border: 1px solid #FDB547;
                align-self: center;
                height: 36px;
                font-size: 1.3rem;
                &:active{
                    border: 1px solid #FDB547;
                 }
                &:focus{
                    outline: none;
                }
            }

        }
        .wrapper-for-button{
            position: absolute;
            bottom: 0px;
            align-self: center;
            padding-bottom: 20px;
        }
    }

}