.wrapper-number-pagination{
    display: flex;
    align-items: center;
    justify-content: center;  
    .pagination-estimate{
        color: #5354D2;
        margin: 10px;
        font-size: 1.5rem;
        font-weight: bold;
        &:hover{
            cursor: pointer;
            color: #FE7BA7;
           
        }
    }
    .image-pagination{
        width: 2rem;
        &:hover{
            cursor: pointer;
            opacity: 0.5;
        }
    } 
    .disable-pagination{
        filter: grayscale(100%);
        &:hover{
        cursor: default;
        opacity: 1;
        }
    }
    .active-number{
        color: #FE7BA7;
        &:hover{
            cursor: default;
        }
    }
}