@use "sass:color";
@import "colors";

.menage-button {
    width: 50px !important;
    height: 40px !important;
    display: flex;
    align-content: center;
    justify-content: center;
    &:active{
        color: $light;
        background-color: color.adjust($primary, $lightness: 50%) !important;
        border-color: color.adjust($dark, $lightness: 50%) !important;
    }
    &:hover{
        color: $light !important;
        text-decoration: none;
        background-color: color.adjust($primary, $lightness: 50%) !important;
        border-color: color.adjust($dark, $lightness: 50%) !important;
    }
    &:focus{
        color: $light !important;
        background-color: 1px solid color.adjust($primary, $lightness: 50%) !important;
        border-color: 1px solid color.adjust($primary, $lightness: 50%) !important;
        outline: 0;
        box-shadow: 1px solid color.adjust($dark, $lightness: 50%) !important;
    }
}

.page-link {
    color: $primary;
    background-color: $light;
    border: 1px solid color.adjust($dark, $lightness: 50%);

    &:hover {
        color: $light;
        background-color: $primary;
        border-color: $primary;
    }

    &:focus {
        color: $light;
        background-color: color.adjust($primary, $lightness: -10%);
        box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
    }
}

.btn {
    &:focus {
        color: $light;
        background-color: color.adjust($primary, $lightness: -10%);
        box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
    }
}

.page-item.active .page-link {
    color: $light;
    background-color: $primary;
    border-color: $primary;
}

.page-item.disabled .page-link {
    color: color.adjust($dark, $lightness: 50%);
    background-color: $light;
    border-color: color.adjust($dark, $lightness: 50%);
    opacity: 0.6;
}

.navbar {
    padding: 0;
}

.header-custom-style {
    display: flex;
    align-items: center;
    height: 100px;
    user-select: none;
}

.header-custom-style img {
    height: 100%;
    margin: 0 1rem;
    object-fit: cover;
}

.header-navbar-custom-style {
    margin-right: 20px;
}

.header-navbar-custom-style button {
    padding-top: 15px;
    padding-bottom: 15px;
}

.custom-btn-create a {
    width: 100%;
}

.custom-container-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a:hover {
        color: $dark;
    }
}

@import "bootstrap/scss/bootstrap";
