.wrapper-user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  .enter-in-system {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-decoration: none;
    margin: 10px 10px;
    p {
      padding: 0;
      margin: 0 0 0 10px;
      &:hover {
        color: #fe7ba7;
      }
    }
    .image-user {
      border-radius: 50%;
    }
  }

  .button-log-out {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    font-family: 'Podkova', serif;
    font-size: 11pt;

    &:hover {
      color: #fe7ba7;
      cursor: pointer;
    }
  }
}
