.button-main{
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5354D2;
    input{
        font-family: 'Podkova', serif;
        background: none;
        font-size: 24px;
        margin: 0;
        padding: 0;
        width: 120px;
        color: white;
        text-decoration: none;
    }
    &:hover{
        opacity: 0.8;
        background-color: #FE7BA7;
    }
    &:active{
        border: none;
        background-color:  #FDB547;
    }
    &:focus{
        background-color:  #FDB547;
    }
    &:disabled{
        background-color: #C4C4C4;
    }
}