.wrapper-footer {
    color: #5354d2;
    background-color: #f5f5f5;
    min-height: 120px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .links-info {
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            margin: 5px 10px;
            color: #5354d2;
            &:hover {
                color: #fe7ba7;
            }
        }
        &:active {
            color: white;
        }
    }
}
