.wrapper-all-estimate-wallet{
    display: flex;
    justify-content: space-around;
    background-color: #C4C4C4;
    .wapper-estimate, .wapper-wallet{
        background-color: #F5F5F5;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin: 1rem;
        width: 30%;
        .header-blok-view{
            color: #5354D2;
            font-size: 48px;
            margin: 1rem;
            user-select: none; 
        }
        .list-estimate, .list-wallet{
            margin: 0;
            padding: 10px;
           li{
            list-style-type: none;
            margin-bottom: 10px;
            a{
                text-decoration: none;
                color: black;
                font-size: 1.25rem;
                &:hover{
                    color: #5354D2;
                }
            }
           
           } 
        }
    }
}