.button-main{
    display: flex;
    justify-content: center;
    a{
        font-family: 'Podkova', serif;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        width: 200px;
        height: 46px;
        background-color: #5354D2;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        text-decoration: none;
        &:hover{
            opacity: 0.8;
            background-color: #FE7BA7;
        }
    }
    
}