.button-main {
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  width: 200px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5354d2;
  font-family: 'Podkova', serif;
  font-size: 24px;
  margin: 0;
  padding: 0;
  min-width: 150px;
  color: white;
  img {
    margin-right: 10px;
  }
  @media screen and (max-width: 1240px) {
    width: 140px;
    height: 42px;
    font-size: 20px;
    width: 110px;
  }
  @media screen and (max-width: 800px) {
    width: 130px;
    height: 40px;
    font-size: 18px;
    width: 100px;
  }
  @media screen and (max-width: 640px) {
    width: 100px;
    height: 35px;
    font-size: 16px;
    width: 80px;
  }
  &:hover {
    &:active {
      border: none;
      background-color: #fdb547;
    }
    &:focus {
      background-color: #fdb547;
    }
    &:disabled {
      background-color: #c4c4c4;
    }
    opacity: 0.8;
    background-color: #fe7ba7;
  }
}
