.wrapper-list-estimate{
    background-color: #C4C4C4;
    padding: 3vw;
    .pagination-list-estimate{
        color: #5354D2;
        display: flex;
        justify-content: center;
     
        div{
            font-size: 1.50rem;
            margin: 1rem;
            align-items: center;
            img{
                width: 2rem;
            }
            &:hover{
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }
    .wrapper-page-list-estimate{
        background-color: #F5F5F5;
        border-radius: 10px;
        padding: 3vw;
        h2{
            margin: 0;
            padding-bottom: 1rem;
            color: #5354D2;
            font-size: 3rem;
            user-select: none; 
        }
        .wrappter-one-estimate{
            background-color: white;
            border-radius: 10px;
            padding: 2vw;
            margin: 1rem;
            .delete-one-estimate{
                background-color: #F5F5F5;
                border: 1px solid #5354D2;
                border-radius: 5px;
                width: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    cursor: pointer;
                    opacity: 0.6;
                }
            }
            table{
                margin: 1rem 0;
                width: 100%;
                border: 1px solid #FDB547;
                user-select: none; 
                
                td{
                    padding: 0.5rem;
                 }
                thead{
                 border-right: 1px solid white;
                
                }
                tbody{
                
                    td{
                        border: 1px solid #FDB547;
                        padding: 0.5rem;
                       
                    }
                    .namber-one-item{
                       text-align: center;

                    }
                    .name-one-item{
                       
                        display: flex;
                        justify-content: space-between;
                        img{
                            margin-left: 1rem;
                            &:hover{
                                cursor: pointer;
                                opacity: 0.6;
                            }
                        }
                       
                    }
                    .premission-one-item{
                        text-align: center;
                        img{
                            margin-left: 1rem;
                            &:hover{
                                cursor: pointer;
                                opacity: 0.6;
                            }
                        }
                    }
                }
            }
            .wrapper-header-estimate{
                display: flex;
                justify-content: space-between;
                user-select: none;
                margin-bottom: 1rem;
                .name-estimate{
                   font-size: 2rem;
                }
            }
            .wrapper-one-table{
                thead{
                    background-color: #FDB547;
                }
            }
        }
    }
}