.table-add-new-value {
    .warning-add-one-item {
        background-color: blueviolet;
        color: cadetblue;
    }
}
.new-one-item,
.new-cost-one-item {
    span {
        color: #fe7ba7;
        margin-top: 15px;
        height: 10px;
        font-size: 0.8rem;
        position: absolute;
    }
}
