.table-add-new-value{
    margin: 1rem 0;
    width: 100%;
    user-select: none; 
    border-collapse: collapse;
    tbody{
        td{
            border: 1px solid #FDB547;
            padding: 0.5rem;
            &.namber-one-item{
                width: 5%;
                text-align: center;
            }
            &.data-new-one-item{
                width: 25%;
                input{
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    &::-webkit-calendar-picker-indicator {
                        padding: 0rem;
                        margin: 0rem;
                     }
                }
            }
            &.new-one-item{
                width: 45%;
            }
            &.new-cost-one-item{
                width: 20%;
            }
            &.user-write-item{
                width: 5%;
            }
       
            input{
                width: 100%;
                height: 100%;
                border: none;
                font-family: 'Podkova', serif;
                font-size: 18px;
                &:active{
                    border: none;
                 }
                &:focus{
                    outline: none;
                }
            }
        }
     }
   
}

.button-add-new-item{
    background-color: #5354D2;
    border-radius: 10px;
    display: inline;
    width: 10%;
    float: right;
    padding: 1rem;
    display: flex;
    justify-content: center;
    &:hover{
        background-color:  #FE7BA7;
        cursor: pointer;
    }
}