.list-users-data {
  background: white;
  border: 1px solid #fdb547;
  margin: 0;
  padding: 0;
  align-self: center;
  padding: 0;
  width: 100%;
  max-height: 200px;
  overflow: auto;
  z-index: 1;
  .one-user-list-user-data {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    padding-left: 5px;
    border-bottom: 1px solid#C4C4C4;
    .wrapper-one-user {
      display: flex;
      align-items: center;
      img {
        margin-right: 5px;
      }
    }
  }
  .one-user-list-user-data:hover {
    opacity: 0.6;
    filter: brightness(0.1);
    cursor: pointer;
  }
}
